.profile-dropdown a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  display: inline-block;
}
.profile-dropdown ul {
  display: inline;
  margin: 0;
  padding: 0;
}
.profile-dropdown ul li {
  display: inline-block;
}
.profile-dropdown ul li:hover ul {
  display: block;
}
.profile-dropdown ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
.profile-dropdown ul li ul li {
  background: #252525;
  display: block;
}
.profile-dropdown ul li ul li a {
  display: block !important;
}
.profile-dropdown ul li ul li:hover {
  background: #252525;
}
.profile-dropdown ul li ul li a:hover {
  color: #e7ab3c;
}
.profile-dropdown ul li ul li a {
  color: #fff;
}
.nav-right li a:hover {
  color: #e7ab3c;
}


/* background: #252525; */
/* columns: #e7ab3c */